version: 2
jobs:
  build:
    docker:
      - image: node:8.3.0
        environment:
          DATABASE_URL: postgresql://root:@localhost/spirit_test

      - image: circleci/postgres:9.6.5-alpine-ram

    working_directory: ~/repo

    steps:
      - checkout
      # - run: echo "deb http://apt.postgresql.org/pub/repos/apt/ jessie-pgdg main" | tee /etc/apt/sources.list.d/pgdg.list
      # - run: wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | apt-key add -
      # - run: apt-get update
      # - run: apt-get install postgresql-client-9.6 -y

      - run: psql -p 5432 -c "create database spirit_test;"
      - run: knex migrate:latest

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests
      - run: npm test

      # run eslint
      - run: npm run eslint